.mainMenu {
  width: 222px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;

  &__text {
    font-family: 'TT Lakes';
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0 0 0 24px;
    font-size: 16px;
    color: $main-text-color;
  }

  &__text--active {
    color: $secondary-text-color;
  }

  &__button--active {
    position: relative;
  }

  &__contact {
    margin-left: 24px;
    margin-top: auto;
  }

  &__lang {
    margin-left: 24px;
    margin-top: -16px;
    margin-bottom: 32px;
  }

  &__button--disabled:hover {
    opacity: 0.5;
    transition: 0.5s;
  }

  &__highlight {
    width: 4px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: -4px;
  }

}
