.page {
  font-family: 'TT Lakes', sans-serif;
  font-weight: normal;
  margin: 0;
  background-color: $main-color;
  overflow-x: hidden;
  position: relative;

  @media (min-width: 1366px) {
    margin-left: 320px; 
  }

  &__upperMenu {
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: 768px) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media (min-width: 1366px) {
      margin: 42px 32px 0;
      padding:0;
    }
  }

  &__title {
    margin-top: 24px;

    @media (min-width: 1366px) {
      margin-top: 0;
      position: absolute;
    }
  }

  &__slideMenu {
    margin-top: 24px;

    @media (min-width: 768px) {
      margin-top: 32px;
      margin-left: 24px;
    }

    @media (min-width: 1366px) {
      margin: 0;
      margin-top: 8px;
      margin-left: 32px;
    }
  }

  &__main {
    margin-top: 24px;

    @media (min-width: 768px) {
      margin-top: 32px;
      margin-left: 24px;
      margin-right: 24px;
    }

    @media (min-width: 1366px) {
      margin-top: 7px;
      margin-left: 32px;
      margin-right: 32px;
    }
  }

  &__brands {

    @media (min-width: 768px) {
      margin-top: 32px;
    }
    @media (min-width: 1366px) {
      margin-top: 0;
    }
  }

  &__technic {
    margin-top: 24px;

    @media (min-width: 768px) {
      margin-top: 32px;
    }

    @media (min-width: 1366px) {
    margin-top: 50px;
    }
  }

  &__prices {
    margin-top: 24px;

    @media (min-width: 768px) {
      margin-top: 32px;
    }

    @media (min-width: 1366px) {
      margin-top: 50px;
    }
  }

  &__footer {
    margin-top: 40px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-right: 24px;
      margin-left: 24px;
      height: 80px;
    }

    @media (min-width: 1366px) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }

}
