@font-face {
	font-family: 'TTLakes'; 
	src: url(fonts/TTLakes-Regular.woff); 
}

@font-face {
	font-family: 'TTLakes-Bold'; 
	src: url(fonts/TTLakes-Bold.woff); 
}

@font-face {
	font-family: 'TTLakes-Medium'; 
	src: url(fonts/TTLakes-Medium.woff); 
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.popup-menu {
    width: 100%;
    height: 676px;
    margin:0;
    background-color: #FFFFFF;
    box-shadow: 16px 0px 52px 0px #0E185033,
    -2px 0px 4px 0px #454F7E05;
    display: flex;
    flex-direction: column;
}

.popup-menu__header {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
}

.header {
    height: 88px;
    background-color: #FFF;
    display:flex;
    gap:16px; 
    align-items: center;
}


.header__icon-search {
    margin-left: auto;
}

.header__image {
    display: block;
}


.mainMenu {
    width: 222px;
    display: flex;
    flex-direction: column;
    flex-grow:1;
}

.mainMenu__text {
    font-family: TTLakes-Medium;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 24px;
    font-size: 16px;
    color: #1B1C21;
}

.mainMenu__button--active {
    position: relative;
}

.mainMenu__button--active::before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    background: url("images/highlight.svg") no-repeat;
    position: absolute;
    left:0px;
    top: 12px;
}

.mainMenu__text--active {
    color: #7E7E82;
}

.mainMenu__contact {
    margin-left: 24px;
    margin-top: auto;
}

.contact {
    height: 124px;
    display: flex;
    flex-wrap: wrap;
    gap:0 16px;
    align-content: flex-start;
}

.contact__email {
    font-family: TTLakes-Medium;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #1B1C21;
    margin-top: 16px;
}

.contact__number {
    font-family:TTLakes-Bold;
    line-height: 32px;
    letter-spacing: -0.2px;
    font-size: 24px;
    color: #1B1C21;
    margin-top: 12px;
    white-space: nowrap;
}

.contact__icon-call {
    height: 40px;
}

.contact__icon-chat {
    height: 40px;
}

.contact__icon-profile {
    height: 40px;
}


.mainMenu__lang {
    margin-left: 24px;
    margin-top: 40px;
}

.lang  {
    width: 87px;
    height: 24px;
}


.lang__text {
    font-family: TTLakes-Medium;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #1B1C21;
}

.lang__text--active {
    color: #7E7E82;
}

.mainMenu__button--disabled:hover {
opacity: 0.5;
transition: 0.5s;
}
