  .popups {
    font-family: 'TT Lakes', sans-serif;
    font-weight: normal;
    margin: 0;

    &__popup-feedback {
      padding-right: 16px;

      @media (min-width: 768px) {
        padding-right: 24px;
      }

      @media (min-width: 1366px) {
        padding-right: 32px;
      }
    }

    &__popup-call {
      padding-right: 16px;

      
      @media (min-width: 768px) {
        padding-right: 24px;
      }

      @media (min-width: 1366px) {
        padding-right: 32px;
      }
    }


  }