.picture {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
    border-radius: 5px;
  }

  @media (min-width: 1366px) {
    width: 47.5%;
  }

  &__image {
    width: 100%;

    @media (min-width: 768px) {
      border-radius: 5px;
      display: block;
    }
  }
}
