.header {
  height: 88px;
  background-color: $white-color;
  display:flex;
  gap:16px; 
  align-items: center;

  &__icon-search {
    margin-left: auto;
  }

  &__icon-cancel {

    @media (min-width: 1366px) {
      display: none;
    }
  }
  &__image {
    display: block;
  }
}