.popup-call {
  background-color: $white-color;
  display: none;
  flex-direction: column;
  gap: 16px;
  height: 676px;
  position: absolute;
  top: 0;
  z-index: 9001;
  font-family: 'TT Lakes', sans-serif;

  @media (min-width: 768px) {
    width: 320px;
    height: 100vh;
  }

  @media (min-width: 1366px) {
    right: 0;
    width: 440px;
    box-shadow:
    16px 0px 52px 0px $popup-shadow-main-color,
    -2px 0px 4px 0px $popup-shadow-secondary-color;

    &::after {
      width: 1px;
      height: 100%;
      background-color: $shadow-color;
      position: absolute;
      display: block;
      content: "";
    }
  }

  &__wraper {
    margin-top: 24px;
  }

  &__image {
    display: block;
  }

  &__icon-send {
    align-self: flex-end;
  }

  &--open {
    display: flex;
  }

  &--close {
    display: none;
  }
}
