.popup-call {
  background-color: $white-color;
  display: none;
  flex-direction: column;
  gap: 16px;
  height: 676px;
  position: absolute;
  top: 0;
  z-index: 9001;

  &__wraper {
    margin-top: 24px;
  }

  &__image {
    display: block;
  }

  &__icon-send {
    align-self: flex-end;
  }
}
