.block {
  .block__content {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $main-text-color;
  }

  .block__readMore {
    margin-top: 16px;
  }
}