.block {

  @media (min-width: 768px) {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }


  &__content {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $main-text-color;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__text {
    @media (min-width: 768px) {
      &::after {
        content: 'Мы являемся авторизованным сервисным центром по ремонту техники Dell. Только у нас вы можете отремонтировать свой ноутбук Dell с официальной гарантией производителя. \A \A Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера';
        line-height: 20px;
        font-family: 'TT Lakes';
        font-size: 14px;
        letter-spacing: 0.2px;
        color: $main-text-color;
        white-space: pre-wrap;
        display: inline-block;
      }
    }

    @media (min-width: 1366px) {
      margin-top: 9px;
      &::after {
        content: "Мы являемся авторизованным сервисным центром по ремонту техники Dell. Только у нас вы можете отремонтировать свой ноутбук Dell с официальной гарантией производителя. \A \A Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
      }
    }
  }

  &__readMore {
    margin-top: 16px;

    @media (min-width: 768px) {
      margin-top: 10px;
      margin-bottom: 14px;
    }
  }
}
