.brands {
  &__heading {
    margin-bottom: 16px;
    padding-left: 16px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
      padding-left: 24px;
    }

    @media (min-width: 1366px) {
      padding-left: 32px;
    }
    
  }

  &__content {
    margin-left: 16px;

    @media (min-width: 768px) {
      height: 160px;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 16px;
      justify-content: center;
      margin-left: 24px;
      margin-right: 24px;
      width: auto;
    }

    @media (min-width: 1366px) {
      margin-left: 32px;
      margin-right: 32px;
      width: auto;
    }
  }

  &__item {
    width: 240px;
    height: 72px;
    display: flex;
    align-items: center;
    background-color: $white-color;
    border: 1px solid $divider-color;
    border-radius: 6px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 16px;

    @media (min-width: 768px) {
      width: 224px;
      flex-grow: 1;
    }
  }

  &__link {
    display: inline-block;
    font-size: 0px;
    margin-left: auto;
  }

  &__fade {
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(90deg, $main-transperent-color, $main-color);
    right: 0;
    bottom: 16px;
    z-index: 2;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__expand {
    margin-left: 24px;

    @media (min-width: 1366x) {
      margin-left: 32px;
    }
  }
}
